@import 'tailwindcss';

:root {
  --background: #1a1a1a;
  --foreground: #e0e0e0;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
